* {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
 }

 body {
     background-color: lightgrey;
 }

 h2, p, .readme-wrapper {
     text-align: center;
 }

 .boxes {
     display: inline-block;
     margin: 1rem;
     padding: 0.5rem;
     border: 5px;
 }